<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee adding terminal</title>
</head>
<body>
  <form action="#" th:action="@{/employee/add/details}" th:object="${employee}" method="post">
    <table>
      <thbody>
        <tr>
          <td>First name</td>
          <td><input type="text" th:field="*{firstName}" name="firstName"></td>
        </tr>
        <tr>
          <td>Last name</td>
          <td><input type="text" th:field="*{lastName}" name="lastName"></td>
        </tr>
        <tr>
          <td>Age</td>
          <td><input type="text" th:field="*{age}" name="age"></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><input type="text" th:field="*{address}" name="address"></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="Save"></td>
        </tr>
      </thbody>
    </table>
  </form>
  <hr>
  <a th:href="@{/index}">Back to index of application.</a>
</body>
</html>