<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update tab</title>
</head>
<body>
  <table>
    <form action="#" th:action="@{/employee/update/details}" th:object="${employee}">
      <tbody>
        <tr>
          <td></td>
          <td><input type="hidden" th:field="*{id}"></td>
        </tr>
        <tr>
          <td>First name</td>
          <td><input type="text" th:field="*{firstName}" name="firstName"></td>
        </tr>
        <tr>
          <td>Last name</td>
          <td><input type="text" th:field="*{lastName}" name="lastName"></td>
        </tr>
        <tr>
          <td>Age</td>
          <td><input type="text" th:field="*{age}" name="age"></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><input type="text" th:field="*{address}" name="address"></td>
        </tr>
        <tr>
          <td>Role</td>
          <td><input type="text" th:field="*{role}" name="role"></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="submit"></td>
        </tr>
      </tbody>
    </form>
  </table>
  <hr>
  <a th:href="@{/index}">Back to index of application.</a>
</body>
</html>